header {
  position: relative;
  z-index: 1;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: linear-gradient(
        90deg,
        #292e33 0%,
        rgba(35, 46, 46, 0.1) 16.15%,
        rgba(35, 46, 46, 0.1) 80.21%,
        #292e33 100%
      ),
      linear-gradient(
        180deg,
        rgb(39, 43, 48) 0%,
        rgba(0, 0, 0, 0.58) 33.85%,
        #292e33 100%
      );
  }

  transition: height 0.5s;
  .text-details {
    height: 100px;
    overflow: hidden;
  }

  .show {
    height: min-content !important;
  }
}
